#root{
  height: 300px;
  width: 100%;
  background: lavenderblush;
}
.img-block{
  width: 100px;
  height: 100px;
  margin-top: 100px;
  background: url('https://pic6.58cdn.com.cn/mobile/big/n_v2505a55e534be4031861f1d0ef3f0fa43.jpg?ss=1&cut=1&t=1&w=750.0&cuth=599.00&cutx=0.00&h=410.0&cuty=1.00&cutw=1096.17&crop=1&cpos=middle');
  background-repeat: no-repeat;
  background-size: contain;
}